<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @chapter.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @chapter.country_id %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @chapter.lead %>
</p>

<p>
  <strong>Email:</strong>
  <%= @chapter.email %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
